@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-300;
}

main {
  @apply flex flex-col flex-1 h-full;
}

.paragrafy-limit {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;

  @apply font-light text-sm;
}

.glass_card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}
